<html ng-app="listaTelefonica" lang="pt-BR">

<head>
    
    <meta charset="utf-8">

    <title>Lista Telefônica</title> 

    <link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.css">

    <style>
        .jumbotron {
            width: 400px;
            text-align: center;
            margin-top: 20px;            
            margin-left: auto;
            margin-right: auto;
        }

        .selecionado{
            background-color: yellow;
        }

        .negrito{
            font-weight: bolder;
        }

    </style>

    <script src='lib/angular/angular.js'></script>

    <script>
        angular.module("listaTelefonica", []); 
        angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function($scope) { 
            $scope.app = "Lista Telefônica";
            $scope.contatos = [
                {nome:"Edgar", telefone: "999", cor: "blue"},
                {nome:"Fran", telefone: "888", cor: "brown"},
                {nome:"Cacau", telefone: "777", cor: "white"}
            ];

            $scope.operadoras = [
                {nome:"Vivo", codigo: "1", categoria: "Celular"},
                {nome:"Claro", codigo: "3", categoria: "Celular"},
                {nome:"Oi", codigo: "2", categoria: "Fixo"}
            ];

            $scope.classe1 = "selecionado";
            $scope.classe2 = "negrito";

            $scope.adicionarContato = function (contato) {
                console.log($scope.nome);
                $scope.contatos.push(angular.copy(contato)); 
                delete $scope.contato;  
            }

            $scope.apagarContato = function (contatos) {
                $scope.contatos = contatosSelecionados = contatos.filter(function(contato){
                    if (!contato.selecionado) return contato;
                });
                console.log(contatos);
            }

            $scope.isContatoSelecionado = function (contatos) {
                return contatoSelecionado = contatos.some(function (contato){
                    return contato.selecionado
                });
                console.log(contatoSelecionado);
            }            

        });
    </script>

</head>

<body ng-controller="listaTelefonicaCtrl">
<div class="jumbotron">
    <h3 ng-bind="app"></h3></h3>
    <h3>{{app + ' ' + teste}}</h3>
    <h3>{{2 * 4}}</h3>

    {{contatos}}

    <table class="table table-striped" ng-show="contatos.length > 0">
        <tr>
            <th></th>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Operadora</th>
            <th></th>
        </tr>
        <!-- <tr ng-class="[classe1, classe2]" ng-repeat="contato in contatos"> -->
        <tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos">
            <td><input type="checkbox" ng-model="contato.selecionado"/></td>
            <td>{{contato.nome}}</td>
            <td>{{contato.telefone}}</td>
            <td>{{contato.operadora.nome}}</td>
            <!--<td ng-repeat="(key,value) in contato">
                {{key + ' - ' + value}}-->
            </td>
            <td><div style="width: 20px; height: 20px;" ng-style="{'background-color':contato.cor}"></div></td>
        </tr>
    </table>

    {{operadoras}}

    <hr/>

    <input class="form-control" type="text" ng-model="contato.nome" placeholder="Nome">
    <input class="form-control" type="text" ng-model="contato.telefone" placeholder="Telefone">
    <!-- <select class="form-control" ng-model="contato.operadora" ng-options="operadora.codigo as operadora.nome for operadora in operadoras"></select> -->
    <select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome group by operadora.categoria for operadora in operadoras">
        <option value="">Selecione uma operadora</option>
    </select>
    {{nome}}
    {{telefone}}

    {{contato}}

    <button class = "btn btn-primary btn-block" ng-click="adicionarContato(contato)" ng-disabled="!contato.nome || !contato.telefone">Adicionar Contato</button>
    <button class = "btn btn-danger btn-block" ng-click="apagarContato(contatos)" ng-disabled="!isContatoSelecionado(contatos)" ng-if="isContatoSelecionado(contatos)">Apagar Contatos</button>

</div>

<div ng-include="'footer.htm'"></div>
</body>

</html>