<html ng-app="helloWorld">

<head><title>Hello World</title>

    <script src='lib/angular/angular.js'></script>

    <script>
        var app = angular.module("helloWorld", []); 
        app.controller("helloWorldCtrl", function($scope) { 
            $scope.message = "Hello World!!!"; 
        }); 
    </script>

</head>

<body ng-controller="helloWorldCtrl"> 
    {{message}}
</body>

</html>